*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.6;
  font-size: 18px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
.header,
.paragraph {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
.header {
  line-height: 1.2;
  margin-top: 0rem;
  margin-bottom: 0rem;
  text-wrap: balance;
}

p,
.paragraph {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  text-wrap: pretty;
}

section,
.section {
  margin: 1.5rem auto;
  padding: 0 10px;
  max-width: 650px;
}

.row {
  display: block;
}

@media (min-width: 650px) {
  .row {
    display: flex;
    gap: 2rem;
  }
}

:root {
  --color-stone-50: oklch(98.5% 0.001 106.423);
  --color-stone-100: oklch(97% 0.001 106.424);
  --color-stone-200: oklch(92.3% 0.003 48.717);
  --color-stone-300: oklch(86.9% 0.005 56.366);
  --color-stone-400: oklch(70.9% 0.01 56.259);
  --color-stone-500: oklch(55.3% 0.013 58.071);
  --color-stone-600: oklch(44.4% 0.011 73.639);
  --color-stone-700: oklch(37.4% 0.01 67.558);
  --color-stone-800: oklch(26.8% 0.007 34.298);
  --color-stone-900: oklch(21.6% 0.006 56.043);
  --color-stone-950: oklch(14.7% 0.004 49.25);

  --color-background: var(--color-stone-300);
  --color-foreground: var(--color-stone-950);
  --color-primary: #efefef;
  --color-primary-foreground: #000000;
  --color-muted: var(--color-stone-500);
  --color-muted-foreground: var(--color-stone-800);

  --border-color: #292524;
  --border-radius: 4px;
}
