/* Config */

:root {
  /* Base Colors */
  --color-stone-50: oklch(98.5% 0.001 106.423);
  --color-stone-100: oklch(97% 0.001 106.424);
  --color-stone-200: oklch(92.3% 0.003 48.717);
  --color-stone-300: oklch(86.9% 0.005 56.366);
  --color-stone-400: oklch(70.9% 0.01 56.259);
  --color-stone-500: oklch(55.3% 0.013 58.071);
  --color-stone-600: oklch(44.4% 0.011 73.639);
  --color-stone-700: oklch(37.4% 0.01 67.558);
  --color-stone-800: oklch(26.8% 0.007 34.298);
  --color-stone-900: oklch(21.6% 0.006 56.043);
  --color-stone-950: oklch(14.7% 0.004 49.25);

  /* Theme Colors */
  --color-background: var(--color-stone-950);
  --color-foreground: var(--color-stone-300);
  --color-primary: #efefef;
  --color-primary-foreground: #000000;
  --color-muted: var(--color-stone-500);
  --color-muted-foreground: var(--color-stone-800);
  --border-radius: 4px;
  --title-font: "Liham", Georgia, "Times New Roman", serif;
  --body-font: "Copperplate Gothic 32 BC", Georgia, "Times New Roman", serif;

  --header-height: 52px;
  --footer-height: 64px;

  /* Header */
  --color-header-background: var(--color-background);
  --color-header-border: var(--color-muted-foreground);

  /* Footer */
  --color-footer: var(--color-background);
  --color-footer-border: var(--color-muted-foreground);

  /* Input & TextArea */
  --color-input: var(--color-muted-foreground);
  --color-input-foreground: var(--color-muted);
  --color-input-border: #292524;
  --input-border-radius: var(--border-radius);

  /* Buttons */
  --color-button: var(--color-primary);
  --color-button-foreground: var(--color-primary-foreground);
  --color-button-hover: color-mix(in oklab, var(--color-button), #ffffff 100%);
  --color-button-pressed: color-mix(in oklab, var(--color-button), #000 7.5%);
  --button-border-radius: var(--border-radius);

  /* Art Grid */
  --min-art-width: 230px; /* This value is the min size an art grid column wants to take. Art can still be smaller than this if the screen width is less 230px. This value is also kind of a "magic value" in terms of i played with the number until the grid broke down nicely on all common screen sizes */
}
